:root {
  --primary-color: #013f13;
  --secondary-color: #ffc107;
  --background-color: #f8f9fa;
  --text-color: #2b2d42;
  --header-bg-color: #013f13;
  --header-text-color: #ffc107;
  --font-family: "Roboto", sans-serif;
  --base-font-size: 16px;
  --font-size-large: 1.5rem;
}

body {
  background: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  line-height: 1.6;
  margin: 0.5em 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding: 4em 2em;
  margin: 2em 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.menu__link {
  font-weight: bold;
  text-decoration: none;
  color: var(--header-text-color);
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.menu__link:hover {
  background: var(--secondary-color);
  color: #fff;
}

img.lazy {
  opacity: 0;
  transition: opacity 1s;
}

img.lazy.loaded {
  opacity: 1;
}
